@import '../../assets/css/mixin';
.shop_container{
  position: absolute;
  // top: 0;
  right: 0;
  // bottom: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header{
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0 0.4rem 0.4rem;
  background-color: rgba(119, 103, 137, 0.43);
  overflow: hidden;
}
.goback{
  flex: 0.2;
}
.back{
  @include wh(0.6rem, 0.8rem);
  margin-right: 0.2rem;
}
.shopInfo{
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.next{
  flex:0.2;
}
.gonext{
  position: relative;
  right: 0.5rem;
  @include wh(0.6rem, 0.8rem);
}
.shop_pic{
  flex: 0.4;
  width: 2rem;
  height: 2rem;
  margin-right: 0.3rem;
}
.info{
  flex: 0.4;
}
.info h3{
  margin-bottom: 0.3rem;
  @include sc(0.8rem, #fff);
  font-weight: bold;
}
.info p{
  margin-bottom: 0.3rem;
  @include sc(0.5rem, #fff);
}
.chooseType{
  display: flex;
  justify-content: space-between;
  padding: .3rem 0 .6rem;
  border-bottom: 0.025rem solid $bc;
  background: #fff;
}
.chooseType .on{
  color: #3190e8;
  border-color: #3190e8;
}
.chooseType li{
  flex: 1;
  padding: .2rem .1rem;
  text-align: center;
  @include sc(0.65rem, #666);
}
.chooseType span{
  padding: .2rem .1rem;
  border-bottom: 0.12rem solid #fff;
}
// main{
//   width: 100%;
// }
.food_container{
  flex: 1;
  padding-bottom: 2rem;
}
.menu_container{
  position: relative;
  display: flex;
  flex: 1;
  overflow-y: hidden;
}
.menu_left{
  width: 3.8rem;
}
.menu_right{
  // margin-left: 4rem;
  flex: 4;
  overflow-y: auto;
}
// 商品
.menu_icon{
  @include wh(0.5rem, 0.6rem);
  margin-right: 0.5rem;
}
.menu_tit{
  @include sc(0.6rem, #666);
}
.category_num{
  position: absolute;
  top: .1rem;
  right: .1rem;
  background-color: #ff461d;
  line-height: .6rem;
  text-align: center;
  border-radius: 50%;
  border: 0.025rem solid #ff461d;
  min-width: .6rem;
  height: .6rem;
  @include sc(0.5rem, #fff);
  font-family: Helvetica Neue,Tahoma,Arial;
}
.classifiy .activity_menu {
  border-left: 0.15rem solid $blue;
  background-color: #fff;
  font-weight: bold;
}
.classifiy li {
  padding: .7rem .3rem;
  border-bottom: 0.025rem solid #ededed;
  box-sizing: border-box;
  border-left: 0.15rem solid #f8f8f8;
  position: relative;
}

.menu_detail_tit{
  width: 100%;
  padding: .4rem;
}
.menu_detail_left{
  width: 11rem;
  white-space: nowrap;
  overflow: hidden;
}
.menu_item_title{
  margin-right: 0.5rem;
  @include sc(0.7rem, #666);
  font-weight: bold;
}
.menu_item_description{
  width: 30%;
  overflow: hidden;
  @include sc(0.5rem, #999);
}
.menu_detail_right{
  width: 0.5rem;
  height: 1rem;
  background: url('../../assets/img/icon_point.png')
}
.menu_detail_list {
  position: relative;
  padding: .6rem .4rem;
  border-bottom: 1px solid #f8f8f8;
  background-color: #fff;
  overflow: hidden;
}
.menu_detail_item{
  display: flex;
}
.food_icon{
  @include wh(2rem, 2rem);
  margin-right: .4rem;
}
.menu_food_description{
  flex: 1;
}
.menu_food_description h3{
  display: flex;
  justify-content: space-between;
  margin-bottom: .2rem;
}
.food_tit{
  @include sc(0.7rem, #333);
}
.food_description_content{
  @include sc(0.5rem, #999);
  line-height: .6rem;
}
.food_description_sale_rating{
  line-height: 1rem;
  @include sc(0.5rem, #333);
}
.month_sales{
  margin-right: .4rem;
}
.food_activity{
  line-height: .4rem;
  margin-left: -0.7rem;
  margin-top: .3rem;
  font-size: .3rem;
  transform: scale(0.8);
}
.food_activity span{
  padding: .08rem 0.2rem;
  border-radius: 0.3rem;
  border: 0.025rem solid #f60;
}
.food_price{
  margin-top: .3rem;
  @include sc(0.5rem, #666);
}
.price_icon{
  @include sc(0.5rem, #f60);
  margin-right: .05rem;
}
.price_num{
  @include sc(0.7rem, #f60);
  font-weight: bold;
  margin-right: .3rem;
}
.menu_detail_footer{
  display: flex;
  justify-content: space-between;
}
// 购物车
.buy_cart_container{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 2rem;
  background-color: #3d3d3f;
  
}
.cart_icon_num{
  position: relative;
}
.totalNum{
  position: absolute;
  left: 1.8rem;
  top: -0.95rem;
  z-index: 5;
  background-color: #ff461d;
  line-height: .7rem;
  text-align: center;
  border-radius: 50%;
  border: 0.025rem solid #ff461d;
  min-width: .7rem;
  height: .7rem;
  @include sc(0.5rem, #fff);
  font-family: Helvetica Neue,Tahoma,Arial;
}
.icon_cart{
  position: absolute;
  left: .5rem;
  top: -.7rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.cart_num{
  position: absolute;
  left: 3.5rem;
  top: 50%;
  // transform: translateY(-50%);
  color: #fff;
}
.sum{
  @include sc(.8rem, #fff);
  font-weight: bold;
  // margin-bottom: .1rem;
}
.deliMoney{
  @include sc(.4rem, #fff);
}
.gotopay{
  position: absolute;
  right: 0rem;
  top: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 100%;
}
.gotopay_acitvity{
  background-color: #4cd964;
}
.gotopay_btn_dis{
  width: 100%;
  height: 100%;
  @include sc(.7rem, #fff);
  font-weight: bold;
  line-height: 2rem;
  text-align: center;
  background-color: #535356;
}
.gotopay_btn_en{
  display: block;
  width: 100%;
  height: 100%;
  @include sc(.7rem, #fff);
  font-weight: bold;
  line-height: 2rem;
  text-align: center;
  background-color: #4cd964;
}
// 购物车 弹框
.cart_food_list{
  position: fixed;
  width: 100%;
  margin-bottom: 2rem;
  z-index: 3;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.cart_list_tit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3rem .6rem;
  background-color: #eceff1;
}
.cart_text{
  @include sc(.7rem, #666);
}
.empty{
  @include sc(.6rem, #666);
}
.cart_food_details{
  background-color: #fff;
  max-height: 20rem;
  overflow-y: auto;
}
.cart_food_details li{
  display: flex;
  justify-content: space-between;
  padding: .6rem .5rem;
}
.cart_list_num{
  width: 55%;
}
.cart_list_num span:nth-child(1) {
  @include sc(.7rem, #666);
  font-weight: bold;
  margin-right: 0.4rem;
}
.cart_list_num span:nth-child(2) {
  @include sc(.4rem, #666);
}
.cart_list_price span:nth-child(1) {
  @include sc(.6rem, #f60);
  font-family: Helvetica Neue,Tahoma;
}
.cart_list_price span:nth-child(2) {
  @include sc(.7rem, #f60);
  font-family: Helvetica Neue,Tahoma;
  font-weight: bold;
}
// 规格弹框
.spec_pop{
  width: 100%;
  
}
.specs_list{
  @include center;
  z-index: 20;
  width: 70%;
  border-radius: 6px;
  background: #fff;
}
.spec_name{
  padding: .5rem;
  line-height: 1rem;
  text-align: center;
  @include sc(0.7rem, #222);
  font-weight: normal;
  
}
.close{
  position: absolute;
  top: .3rem;
  right: .5rem;
  @include sc(1rem, #222);
}
.specs_details{
  padding: .5rem;
}
.specs_details .tit{
  margin-bottom: 0.4rem;
  @include sc(0.6rem, #666);
}
.spec_box {
  display: flex;
}
.spec_box li{
  flex: 1;
  padding: .3rem .5rem;
  border: 0.025rem solid #ddd;
  border-radius: .2rem;
  margin-right: .5rem;
  margin-bottom: .2rem;
  @include sc(0.6rem, #666);
  text-align: center;
}
.spec_box .specs_activity{
  border-color: $blue;
  color: $blue;
}
.spec_add{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 0.025rem;
  border-bottom-left-radius: .2rem;
  border-bottom-right-radius: .2rem;
  background-color: #f9f9f9;
}
.spec_price span:nth-child(1){
  @include sc(.5rem, #ff6000);
}
.spec_price span:nth-child(2){
  @include sc(.8rem, #ff6000);
  font-weight: bold;
  font-family: Helvetica Neue,Tahoma;
}
.spec_addto{
  width: 4rem;
  height: 1.3rem;
  background-color: #3199e8;
  border: 0.025rem;
  border-radius: 0.15rem;
  @include sc(.6rem, #fff);
  text-align: center;
  line-height: 1.3rem;
}










.attribute_new{}
// 购物车
.cart_icon_activity{
  background-color: $blue;
}
.move_in_cart{
  animation: mymove .5s ease-in-out;
}
@keyframes mymove{
  0%   { transform: scale(1) }
  25%  { transform: scale(.8) }
  50%  { transform: scale(1.1) }
  75%  { transform: scale(.9) }
  100% { transform: scale(1) }
}
@-moz-keyframes mymove{
  0%   { transform: scale(1) }
  25%  { transform: scale(.8) }
  50%  { transform: scale(1.1) }
  75%  { transform: scale(.9) }
  100% { transform: scale(1) }
}
@-webkit-keyframes mymove{
  0%   { transform: scale(1) }
  25%  { transform: scale(.8) }
  50%  { transform: scale(1.1) }
  75%  { transform: scale(.9) }
  100% { transform: scale(1) }
}
@-o-keyframes mymove{
  0%   { transform: scale(1) }
  25%  { transform: scale(.8) }
  50%  { transform: scale(1.1) }
  75%  { transform: scale(.9) }
  100% { transform: scale(1) }
}
.show_delete_tip{
  @include center;
  width: 60%;
  height: 2rem;
  border-radius: 6px;
  background: rgba(0, 0, 0, 1);
  @include sc(0.5rem, #fff);
  line-height: 2rem;
  text-align: center;
}
.dotNum{
  min-width: 1rem;
  margin: 0 0.5rem;
  text-align: center;
  font-family: Helvetica Neue,Tahoma;
  @include sc(0.65rem, #666);
}





















// .fade-enter-active, .fade-leave-active {
//   transition: opacity .5s;
// }
// .fade-enter, .fade-leave-active {
//   opacity: 0;
// }
// .fade-choose-enter-active, .fade-choose-leave-active {
//   transition: opacity .5s;
// }
// .fade-choose-leave, .fade-choose-leave-active {
//   display: none;
// }
// .fade-choose-enter, .fade-choose-leave-active {
//   opacity: 0;
// }
// .router-slid-enter-active, .router-slid-leave-active {
//   transition: all .4s;
// }
// .router-slid-enter, .router-slid-leave-active {
//   transform: translate3d(2rem, 0, 0);
//   opacity: 0;
// }
// .toggle-cart-enter-active, .toggle-cart-leave-active {
//   transition: all .3s ease-out;
// }
// .toggle-cart-enter, .toggle-cart-leave-active {
//   transform: translateY(100%);
// }